.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  .columns {
    float: left;
    width: 25%;
    padding: 10px;
  }

  .columns img {
    margin-top: 12px;
    width: 100%;
  }

  .rows:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media only screen and (max-width: 800px) {
  .gallery {
    flex-direction: column;

    .columns {
      width: 90%;
    }
  }
}