<!DOCTYPE HTML>
<html lang="de">
<head>
    <%- include comps/head.ejs %>
    <link rel="stylesheet" href="/css/comps/contact.css">
    <title>Contact | TUB - AIGLART</title>
</head>
<body>
<%- include comps/nav.ejs %>
<main class="contact">
    <div class="contact-details">
        <a class="contact-details-part" href="mailto:tuija@tub-aiglart.com">tuija@tub-aiglart.com</a>
        <p class="contact-details-part">+49 8753 - 458</p>
    </div>
    <div class="contact-map">
        <iframe class="contact-map-source" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1862.133598329342!2d11.705880769599615!3d48.69679157522757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e4ddca2338321%3A0x72ce487a25925a39!2sTUB-Aiglart!5e0!3m2!1sde!2sde!4v1502543832054" frameborder="0" allowfullscreen></iframe>
    </div>
</main>
<%- include comps/footer.ejs %>
</body>
</html>
