<!DOCTYPE HTML>
<html lang="de">
<head>
    <%- include comps/head.ejs %>
    <link rel="stylesheet" href="/css/comps/exhibitions.css">
    <title>Exhibitions | TUB - AIGLART</title>
</head>
<body>
<%- include comps/nav.ejs %>
<main class="exhibitions">
    <h1>Exhibitions</h1>
    <h2>Individual exhibitions</h2>
    <table class="exhibitions-table">
        <thead>
        <tr>
            <th>Year</th>
            <th>Exhibitions</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>2002</td>
            <td>Mainburg, Krankenhaus</td>
        </tr>
        <tr>
            <td>2002</td>
            <td>Schloss Ratzenhofen</td>
        </tr>
        <tr>
            <td>2003</td>
            <td>Rathaus Geisenfeld: Elämän värit</td>
        </tr>
        <tr>
            <td>2006</td>
            <td>Forum Kunst und Handwerk in Ebrantshausen [Mainburg]: Menschen und Landschaften</td>
        </tr>
        <tr>
            <td>2007</td>
            <td>Museum Mainburg: Die neuesten Werke</td>
        </tr>
        <tr>
            <td>2008 & 2009</td>
            <td>Atelier TUB in Aiglsbach</td>
        </tr>
        <tr>
            <td>2010 & 2011</td>
            <td>Ziegeleistraße 2 in Aiglsbach - "I never promised you a rose garden"</td>
        </tr>
        <tr>
            <td>2012</td>
            <td>ehem. Limonadenfabrik Hausruckinger in Aiglsbach: "American Dream - und andere Irrtümer"</td>
        </tr>
        <tr>
            <td>2012</td>
            <td>Neuer Kunstverein Regensburg e.V., "The Boulevard of Broken Dreams"</td>
        </tr>
        <tr>
            <td>2013</td>
            <td>Ziegeleistraße 2 in Aiglsbach, "On the Road to ... nowhere"</td>
        </tr>
        <tr>
            <td>2014</td>
            <td>Rathausausstellung Geisenfeld, "Etsin paperia - löydän taulun (Suche Papier - finde Bild)"</td>
        </tr>
        <tr>
            <td>2014</td>
            <td>Kunstforum Neustadt an der Donau: Collagen - Acryl Papier</td>
        </tr>
        <tr>
            <td>2015</td>
            <td>Alter Schlachthof, Galerie Halle II, Straubing, "Everybody's got something to hide"</td>
        </tr>
        </tbody>
    </table>

    <h2>Group exhibitions</h2>
    <table class="exhibitions-table">
        <thead>
        <tr>
            <th>Year</th>
            <th>Exhibitions</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>2001 - 2006</td>
            <td>Jahresausstellungen Gruppe Kunst Kelheim</td>
        </tr>
        <tr>
            <td>2002 - 2012</td>
            <td>Jahresausstellungen VHS Stadthalle Mainburg</td>
        </tr>
        <tr>
            <td>2003</td>
            <td>Reithalle im Klenzepark Ingolstadt: Licht - Raum - Europa</td>
        </tr>
        <tr>
            <td>2006</td>
            <td>Bayreuther Künstlermarkt (Kunstmuseum Bayreuth)</td>
        </tr>
        <tr>
            <td>2006</td>
            <td>Kunst- und Kulturtage Geisenfeld (Stadtpfarrkirche): Flucht nach Ägypten - Unschuldige Kinder /
                missbraucht, verführt, getötet
            </td>
        </tr>
        <tr>
            <td>2007</td>
            <td>Kunst- und Kulturtage Geisenfeld (Stadtpfarrkirche): Hell - dunkel | Frieden oder Krieg | Glück oder
                Unglück | Koffer voller Geld oder Bombenkoffer
            </td>
        </tr>
        <tr>
            <td>2008</td>
            <td>Finanzamt Pfaffenhofen: Internationale Künstler - Aus 17 Nationen</td>
        </tr>
        <tr>
            <td>2012</td>
            <td>Frauen international in Mainburg: Erlebnis Frauenkunst</td>
        </tr>
        <tr>
            <td>2014</td>
            <td>Neuer Kunstverein Regensburg e.V., "Come together" und "Finale" (Künstler des Vereins)</td>
        </tr>
        <tr>
            <td>2014</td>
            <td>Kunstprojekt in der Grundschule Aiglsbach</td>
        </tr>
        <tr>
            <td>2016</td>
            <td>Neuer Kunstverein e.V.: "KunstLust" (Künstler des Vereins)</td>
        </tr>
        <tr>
            <td>2017</td>
            <td>Finanzamt Pfaffenhofen: Pfaffenhofen - mitten in Bayern - mitten in Europa</td>
        </tr>
        </tbody>
    </table>

    <h2>Published work</h2>
    <p>In the RPA-Publishing company Landshut</p>

    <h2>Purchases</h2>
    <p>Private collections</p>
</main>
<%- include comps/footer.ejs %>
</body>
</html>
