<!DOCTYPE HTML>
<html lang="de">
<head>
    <%- include comps/head.ejs %>
    <link rel="stylesheet" href="/css/comps/gallery.css">
    <title>Gallery | TUB - AIGLART</title>
</head>
<body>
<%- include comps/nav.ejs %>
<main class="gallery">
    <div class="columns">
        <img alt="Buster" data-caption="Buster - 80x100cm, 2016"
             src="/img/Buster.jpg">
        <img alt="Abendspaziergang" data-caption="Abendspaziergang - 70x50cm, 2016"
             src="/img/Abendspaziergang.jpg">
        <img alt="DreiFrauenImCafe"
             data-caption="Drei Frauen im Café - 40x40cm, 2016" src="/img/DreiFrauenImCafe.jpg">
        <img alt="MutterKommtMitGruenemLuftballon"
             data-caption="Mutter kommt mit grünem Luftballon - 50x70cm, 2017"
             src="/img/MutterKommtMitGruenemLuftballon.jpg">
    </div>

    <div class="columns">
        <img alt="Frau mit roter Tasche"
             data-caption="Frau mit roter Tasche - 80x100cm, 2016"
             src="/img/Frau mit roter Tasche.jpg">
        <img alt="La Syrie ou les vestiges du paradis II"
             data-caption="La Syrie ou les vestiges du paradis II - 100x100cm, 2016"
             src="/img/La Syrie ou les vestiges du paradis II.jpg">
        <img alt="MiTim" data-caption="MiTim - 50x100cm, 2016"
             src="/img/MiTim.jpg">
        <img alt="FraeuleinK" data-caption="Fräulein K. - 100x80cm, 2016"
             src="/img/FraeuleinK.jpg">
    </div>

    <div class="columns">
        <img alt="ParisDesAnnees30"
             data-caption="Paris des années 30 - 100x160cm, 2016"
             src="/img/ParisDesAnnees30.jpg">
        <img alt="Paris - die Verführung"
             data-caption="Paris - die Verführung - 85x85cm, 2015"
             src="/img/Paris-dieVerfuehrung.jpg">
        <img alt="Premiere" data-caption="Première - 58x75cm, 2016"
             src="/img/Premiere.jpg">
        <img alt="Shokki" data-caption="Shokki - 100x100cm, 2016"
             src="/img/Shokki.jpg">
    </div>

    <div class="columns">
        <img alt="TheEnd" data-caption="The End - 50x100cm, 2016"
             src="/img/TheEnd.jpg">
        <img alt="VieDeBohemeII" data-caption="Vie de bohème II - 80x100cm, 2016"
             src="/img/VieDeBohemeII.jpg">
        <img alt="Wer ist der Mann"
             data-caption="Wer ist der Mann? - 50x70cm, 2017" src="/img/Wer ist der Mann.jpg">
    </div>
</main>
<%- include comps/footer.ejs %>
</body>
</html>
