:root {
    --white: #fff;
    --black: #000;
    --dark: #151515;
}

html, body {
    height: 100%;
    width: 100%;
    color: var(--white);
}

body {
    display: flex;
    flex-direction: column;
    background: var(--dark);
}

nav {

}

main {

}

footer {

}