<footer class="footer">
    <div class="footer-part">
        <p class="footer-copyright">© TUB - AIGLART, 2006 - 2019 | All rights reserved.</p>
    </div>
    <div class="footer-part">
        <a href="/imprint" class="footer-link">Imprint</a>
        <span class="footer-divider">-</span>
        <p class="footer-text">Made by <a href="https://rxsto.me">Oskar Lang</a></p>
    </div>
</footer>
<script> </script>