<nav class="nav">
    <a class="nav-part nav-logo" href="/">
        <img class="nav-logo-image" src="/img/white.png" alt="TUB-Aiglart Logo">
        <h1 class="nav-logo-text">TUB - AIGLART</h1>
    </a>
    <div class="nav-part nav-links">
        <a class="nav-part-sub nav-link" href="/">Home</a>
        <a class="nav-part-sub nav-link" href="/gallery">Gallery</a>
        <a class="nav-part-sub nav-link" href="/exhibitions">Exhibitions</a>
        <a class="nav-part-sub nav-link" href="/contact">Contact</a>
        <div class="nav-part-sub nav-language-toggle">

        </div>
    </div>
</nav>